<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="../view/css/style.css">
       <title>Station WHEAZY, la nouvelle station météo connectée</title>
       
      </head>
      <body>
        <h1>Les releves de la station WHEAZY avec le capteur GY-HTU21</h1>
        <img src="img/soleil.png" width="10%"> <img src="img/pluie.png" width="10%">
        <p>Nous mesurons nos releves avec la sonde GY-HTU21 qui permet de mesurer la temperature et l'humidite </p>
        <h2>Particularites du capteur : </h2>
        <ul>
          <li><p>Module a longue duree de vie pour la mesure de la temperature et de l'humidite.</p></li>
          <li><p>Pour ESP et Raspberry Pi.</p></li>
          <li><p>Ideal pour les stations meteorologiques.</p></li>
          <li><p>En raison de la taille minuscule du capteur, la consommation d'energie est incroyablement faible, ce qui le rend tres adapte pour notre projet</p></li>
        </ul>
          <div class="wrapper">
            <a href="" class="button">Voir les releves sur 3 jours</a>
            <a href="#" class="button">Voir le 1er releve du jour</a>
          </div>
        </body>
          </div>
    </body>
</html>